<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-cly1{text-align:left;vertical-align:middle}
.tg .tg-yla0{font-weight:bold;text-align:left;vertical-align:middle}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-yla0">Class</th>
    <th class="tg-yla0">Precision</th>
    <th class="tg-yla0">Recall</th>
    <th class="tg-yla0">F1</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-cly1">Glory-Shot</td>
    <td class="tg-cly1">0.984</td>
    <td class="tg-cly1">0.954</td>
    <td class="tg-cly1">0.969</td>
  </tr>
  <tr>
    <td class="tg-cly1">Butt-Shot</td>
    <td class="tg-cly1">0.925</td>
    <td class="tg-cly1">0.961</td>
    <td class="tg-cly1">0.943</td>
  </tr>
  <tr>
    <td class="tg-cly1">Topo</td>
    <td class="tg-cly1">0.977</td>
    <td class="tg-cly1">0.984</td>
    <td class="tg-cly1">0.981</td>
  </tr>
</tbody>
</table>