<style type="text/css">
        .tg {
                border-collapse: collapse;
                border-spacing: 0;
        }

        .tg td {
                border-color: black;
                border-style: solid;
                border-width: 1px;
                font-family: Arial, sans-serif;
                font-size: 14px;
                overflow: hidden;
                padding: 10px 5px;
                word-break: normal;
        }

        .tg th {
                border-color: black;
                border-style: solid;
                border-width: 1px;
                font-family: Arial, sans-serif;
                font-size: 14px;
                font-weight: normal;
                overflow: hidden;
                padding: 10px 5px;
                word-break: normal;
        }

        .tg .tg-3z1b {
                border-color: #000000;
                text-align: right;
                vertical-align: top
        }

        .tg .tg-luhm {
                background-color: #ecf4ff;
                border-color: #000000;
                font-weight: bold;
                text-align: left;
                vertical-align: top
        }

        .tg .tg-34e2 {
                border-color: #000000;
                color: #15C;
                font-weight: bold;
                text-align: left;
                text-decoration: underline;
                vertical-align: top
        }

        .tg .tg-73oq {
                border-color: #000000;
                text-align: left;
                vertical-align: top
        }
</style>
<table class="tg">
        <thead>
                <tr>
                        <th class="tg-luhm"><span
                                        style="font-weight:700;font-style:normal;text-decoration:none;color:#000">Route</span>
                        </th>
                        <th class="tg-luhm"><span
                                        style="font-weight:700;font-style:normal;text-decoration:none;color:#000">Location</span>
                        </th>
                        <th class="tg-luhm"><span
                                        style="font-weight:700;font-style:normal;text-decoration:none;color:#000">Rating</span>
                        </th>
                        <th class="tg-luhm"><span
                                        style="font-weight:700;font-style:normal;text-decoration:none;color:#000">Num
                                        Ticks</span></th>
                        <th class="tg-luhm"><span
                                        style="font-weight:700;font-style:normal;text-decoration:none;color:#000">Lead
                                        Ratio</span></th>
                </tr>
        </thead>
        <tbody>
                <tr>
                        <td class="tg-34e2"><a href="https://www.mountainproject.com/route/105717427/pringles"><span
                                                style="font-weight:700;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Pringles</span></a>
                        </td>
                        <td class="tg-73oq"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Supercrack
                                        Buttress</span></td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.11+</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">143</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.06</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-34e2"><a
                                        href="https://www.mountainproject.com/route/105943086/naked-and-the-dead-variation"><span
                                                style="font-weight:700;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Naked
                                                and the Dead Variation</span></a></td>
                        <td class="tg-73oq"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Donnelly
                                        Canyon</span></td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.11</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">221</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.07</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-34e2"><a href="https://www.mountainproject.com/route/106123505/inflictor"><span
                                                style="font-weight:700;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Inflictor</span></a>
                        </td>
                        <td class="tg-73oq"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Broken
                                        Tooth</span></td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.12-</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">112</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.17</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-34e2"><a href="https://www.mountainproject.com/route/105718396/town"><span
                                                style="font-weight:700;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Town</span></a>
                        </td>
                        <td class="tg-73oq"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">4X4</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10d</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">225</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.27</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-34e2"><a href="https://www.mountainproject.com/route/107385681/dirty-woman"><span
                                                style="font-weight:700;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Dirty
                                                Woman</span></a></td>
                        <td class="tg-73oq"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">The
                                        Wall</span></td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">113</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.27</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-34e2"><a
                                        href="https://www.mountainproject.com/route/106155187/new-world-order"><span
                                                style="font-weight:700;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">New
                                                World Order</span></a></td>
                        <td class="tg-73oq"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Battle
                                        of the Bulge Buttress</span></td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.11b/c</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">112</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.29</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-34e2"><a href="https://www.mountainproject.com/route/116668339/mariposa"><span
                                                style="font-weight:700;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Mariposa</span></a>
                        </td>
                        <td class="tg-73oq"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Habitado</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10-</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">212</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.34</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-34e2"><a href="https://www.mountainproject.com/route/109590225/unknown"><span
                                                style="font-weight:700;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">(Unknown)</span></a>
                        </td>
                        <td class="tg-73oq"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Selfish
                                        Wall</span></td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.9</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">180</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.35</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-34e2"><a
                                        href="https://www.mountainproject.com/route/106141573/unnamed-510-flake"><span
                                                style="font-weight:700;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Unnamed
                                                5.10 Flake</span></a></td>
                        <td class="tg-73oq"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Blue
                                        Gramma Cliff</span></td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">118</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.36</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-34e2"><a href="https://www.mountainproject.com/route/106069249/the-fat-farm"><span
                                                style="font-weight:700;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">The
                                                Fat Farm</span></a></td>
                        <td class="tg-73oq"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Scarface</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">188</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.37</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-34e2"><a
                                        href="https://www.mountainproject.com/route/105717481/binge-and-purge"><span
                                                style="font-weight:700;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Binge
                                                and Purge</span></a></td>
                        <td class="tg-73oq"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Supercrack
                                        Buttress</span></td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.11b</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">133</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.39</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-34e2"><a
                                        href="https://www.mountainproject.com/route/105717526/fingers-in-a-lightsocket"><span
                                                style="font-weight:700;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Fingers
                                                In A Lightsocket</span></a></td>
                        <td class="tg-73oq"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Supercrack
                                        Buttress</span></td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.11+</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">375</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.39</span>
                        </td>
                </tr>
        </tbody>
</table>