<style type="text/css">
        .tg {
                border-collapse: collapse;
                border-spacing: 0;
        }

        .tg td {
                border-color: black;
                border-style: solid;
                border-width: 1px;
                font-family: Arial, sans-serif;
                font-size: 14px;
                overflow: hidden;
                padding: 10px 5px;
                word-break: normal;
        }

        .tg th {
                border-color: black;
                border-style: solid;
                border-width: 1px;
                font-family: Arial, sans-serif;
                font-size: 14px;
                font-weight: normal;
                overflow: hidden;
                padding: 10px 5px;
                word-break: normal;
        }

        .tg .tg-3z1b {
                border-color: #000000;
                text-align: right;
                vertical-align: top
        }

        .tg .tg-lqy6 {
                text-align: right;
                vertical-align: top
        }

        .tg .tg-luhm {
                background-color: #ecf4ff;
                border-color: #000000;
                font-weight: bold;
                text-align: left;
                vertical-align: top
        }

        .tg .tg-34e2 {
                border-color: #000000;
                color: #15C;
                font-weight: bold;
                text-align: left;
                text-decoration: underline;
                vertical-align: top
        }

        .tg .tg-73oq {
                border-color: #000000;
                text-align: left;
                vertical-align: top
        }

        .tg .tg-zb5k {
                color: #15C;
                text-align: left;
                text-decoration: underline;
                vertical-align: top
        }

        .tg .tg-0lax {
                text-align: left;
                vertical-align: top
        }
</style>
<table class="tg">
        <thead>
                <tr>
                        <th class="tg-luhm"><span
                                        style="font-style:normal;text-decoration:none;color:#000;background-color:transparent">Route</span>
                        </th>
                        <th class="tg-luhm"><span
                                        style="font-style:normal;text-decoration:none;color:#000;background-color:transparent">Location</span>
                        </th>
                        <th class="tg-luhm">Rating</th>
                        <th class="tg-luhm"><span
                                        style="font-style:normal;text-decoration:none;color:#000;background-color:transparent">Normalized
                                        Repeat Sender Sum</span></th>
                </tr>
        </thead>
        <tbody>
                <tr>
                        <td class="tg-34e2"><a href="https://www.mountainproject.com/route/116802263/skinny-dip"><span
                                                style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Skinny
                                                Dip</span></a></td>
                        <td class="tg-73oq"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">The
                                        Beach</span></td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.9</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.518</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-34e2"><a
                                        href="https://www.mountainproject.com/route/107848733/nomadic-alternative"><span
                                                style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Nomadic
                                                Alternative</span></a></td>
                        <td class="tg-73oq"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Suburbia</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10-</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.466</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-34e2"><a href="https://www.mountainproject.com/route/105718684/redacted"><span
                                                style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">[Redacted]</span></a>
                        </td>
                        <td class="tg-73oq"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Reservoir
                                        Wall</span></td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10-</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.451</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-34e2"><a
                                        href="https://www.mountainproject.com/route/116094125/crack-slabbath"><span
                                                style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Crack
                                                Slabbath</span></a></td>
                        <td class="tg-73oq"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">The
                                        Beach</span></td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.9+</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.448</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-34e2"><a
                                        href="https://www.mountainproject.com/route/105717421/triple-jeopardy"><span
                                                style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Triple
                                                Jeopardy</span></a></td>
                        <td class="tg-73oq"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Supercrack
                                        Buttress</span></td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.8</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.447</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-34e2"><a
                                        href="https://www.mountainproject.com/route/106293592/sparkling-zygote"><span
                                                style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Sparkling
                                                Zygote</span></a></td>
                        <td class="tg-73oq"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Sparks
                                        Wall</span></td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10-</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.422</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-34e2"><a href="https://www.mountainproject.com/route/106278440/good-excuse"><span
                                                style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Good
                                                Excuse</span></a></td>
                        <td class="tg-73oq"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Reservoir
                                        Wall</span></td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.9</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.420</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-34e2"><a
                                        href="https://www.mountainproject.com/route/116094137/kelley-route-8"><span
                                                style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Kelley
                                                Route 8</span></a></td>
                        <td class="tg-73oq"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">The
                                        Beach</span></td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10-</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.398</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-34e2"><a href="https://www.mountainproject.com/route/107856802/1-to-4-crack"><span
                                                style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">1
                                                to 4 crack</span></a></td>
                        <td class="tg-73oq"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Public
                                        Service Wall</span></td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.397</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-34e2"><a
                                        href="https://www.mountainproject.com/route/113834967/prepare-for-disappointment"><span
                                                style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Prepare
                                                for Disappointment</span></a></td>
                        <td class="tg-73oq"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Cliffs
                                        of Insanity</span></td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.9</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.392</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-34e2"><a
                                        href="https://www.mountainproject.com/route/106597895/princess-buttercup"><span
                                                style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Princess
                                                Buttercup</span></a></td>
                        <td class="tg-73oq"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Cliffs
                                        of Insanity</span></td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10-</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.392</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-34e2"><a
                                        href="https://www.mountainproject.com/route/107516399/jupiter-crack"><span
                                                style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Jupiter
                                                Crack</span></a></td>
                        <td class="tg-73oq"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Sparks
                                        Wall</span></td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.11</span>
                        </td>
                        <td class="tg-3z1b"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.391</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-zb5k"><a
                                        href="https://www.mountainproject.com/route/106590916/kelley-route-1"><span
                                                style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Kelley
                                                Route 1</span></a></td>
                        <td class="tg-0lax"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Cliffs
                                        of Insanity</span></td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10c</span>
                        </td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.382</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-zb5k"><a href="https://www.mountainproject.com/route/106720518/hand-solo"><span
                                                style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Hand
                                                Solo</span></a></td>
                        <td class="tg-0lax"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Selfish
                                        Wall</span></td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.9</span>
                        </td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.379</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-zb5k"><a href="https://www.mountainproject.com/route/106609255/spam"><span
                                                style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Spam</span></a>
                        </td>
                        <td class="tg-0lax"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Scarface</span>
                        </td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.9</span>
                        </td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.378</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-zb5k"><a href="https://www.mountainproject.com/route/112276325/scenic-line"><span
                                                style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Scenic
                                                Line</span></a></td>
                        <td class="tg-0lax"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Sparks
                                        Wall</span></td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10+</span>
                        </td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.370</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-zb5k"><a
                                        href="https://www.mountainproject.com/route/107658941/tiffanys-mall-tour"><span
                                                style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Tiffany's
                                                Mall Tour</span></a></td>
                        <td class="tg-0lax"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Sinbad
                                        Wall aka Nuclear Wall</span></td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10</span><br>
                        </td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.367</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-zb5k"><a
                                        href="https://www.mountainproject.com/route/105895536/batteries-not-included"><span
                                                style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Batteries
                                                Not Included</span></a></td>
                        <td class="tg-0lax"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Power
                                        Wall</span></td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.8</span>
                        </td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.363</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-zb5k"><a href="https://www.mountainproject.com/route/106950462/hot-sex"><span
                                                style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Hot
                                                Sex</span></a></td>
                        <td class="tg-0lax"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Sinbad
                                        Wall aka Nuclear Wall</span></td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.9</span>
                        </td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.353</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-zb5k"><a href="https://www.mountainproject.com/route/116707845/overthruster"><span
                                                style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Overthruster</span></a>
                        </td>
                        <td class="tg-0lax"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Trick
                                        or Treat Wall</span></td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.11</span>
                        </td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.353</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-zb5k"><a href="https://www.mountainproject.com/route/105893726/skraps"><span
                                                style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Skraps</span></a>
                        </td>
                        <td class="tg-0lax"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Sparks
                                        Wall</span></td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.9</span>
                        </td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.351</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-zb5k"><a
                                        href="https://www.mountainproject.com/route/106420639/petrified-hornet"><span
                                                style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Petrified
                                                Hornet</span></a></td>
                        <td class="tg-0lax"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Petrified
                                        Hornet Wall</span></td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10+</span>
                        </td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.350</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-zb5k"><a
                                        href="https://www.mountainproject.com/route/116177998/lightning-bolt-crack"><span
                                                style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Lightning
                                                Bolt Crack</span></a></td>
                        <td class="tg-0lax"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Habitado</span>
                        </td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.9</span>
                        </td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.345</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-zb5k"><a href="https://www.mountainproject.com/route/116668323/unknown-58"><span
                                                style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Unknown
                                                5.8</span></a></td>
                        <td class="tg-0lax"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Habitado</span>
                        </td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.8+</span>
                        </td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.344</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-zb5k"><a
                                        href="https://www.mountainproject.com/route/106590961/dread-pirate-roberts"><span
                                                style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Dread
                                                Pirate Roberts</span></a></td>
                        <td class="tg-0lax"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Cliffs
                                        of Insanity</span></td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10+</span>
                        </td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.342</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-zb5k"><a href="https://www.mountainproject.com/route/107653915/owl-crack"><span
                                                style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Owl
                                                Crack</span></a></td>
                        <td class="tg-0lax"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Donnelly
                                        Canyon</span></td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10</span>
                        </td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.342</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-zb5k"><a
                                        href="https://www.mountainproject.com/route/105718543/incredible-spam-crack"><span
                                                style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Incredible
                                                Spam Crack</span></a></td>
                        <td class="tg-0lax"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Tenderloins
                                        Wall</span></td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.9</span>
                        </td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.339</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-zb5k"><a href="https://www.mountainproject.com/route/107385652/dirty-girl"><span
                                                style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Dirty
                                                Girl</span></a></td>
                        <td class="tg-0lax"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">The
                                        Wall</span></td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.9</span>
                        </td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.337</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-zb5k"><a href="https://www.mountainproject.com/route/105717445/twin-cracks"><span
                                                style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Twin
                                                Cracks</span></a></td>
                        <td class="tg-0lax"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Supercrack
                                        Buttress</span></td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.8+</span>
                        </td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.337</span>
                        </td>
                </tr>
                <tr>
                        <td class="tg-zb5k"><a
                                        href="https://www.mountainproject.com/route/106268346/cactus-flower"><span
                                                style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Cactus
                                                Flower</span></a></td>
                        <td class="tg-0lax"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Fringe
                                        Walls</span></td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10+</span>
                        </td>
                        <td class="tg-lqy6"><span
                                        style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0.337</span>
                        </td>
                </tr>
        </tbody>
</table>