<style type="text/css">
  .tg {
    border-collapse: collapse;
    border-spacing: 0;
  }

  .tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
  }

  .tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
  }

  .tg .tg-befh {
    background-color: #ffffff;
    border-color: #000000;
    text-align: left;
    vertical-align: bottom
  }

  .tg .tg-ulpm {
    background-color: #ffffff;
    border-color: #000000;
    text-align: right;
    vertical-align: bottom
  }

  .tg .tg-luhm {
    background-color: #ecf4ff;
    border-color: #000000;
    font-weight: bold;
    text-align: left;
    vertical-align: top
  }

  .tg .tg-el4l {
    background-color: #ffffff;
    border-color: #000000;
    color: #00E;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
    vertical-align: top
  }
</style>
<table class="tg">
  <thead>
    <tr>
      <th class="tg-luhm"><span
          style="font-style:normal;text-decoration:none;color:#000;background-color:transparent">Route</span></th>
      <th class="tg-luhm"><span
          style="font-style:normal;text-decoration:none;color:#000;background-color:transparent">Location</span></th>
      <th class="tg-luhm">Rating</th>
      <th class="tg-luhm"><span
          style="font-style:normal;text-decoration:none;color:#000;background-color:transparent">Tick Velocity</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-el4l"><a href="https://www.mountainproject.com/route/116668323/unknown-58" target="_blank"
          rel="noopener noreferrer">Unknown 5.8</a></td>
      <td class="tg-befh">Habitado</td>
      <td class="tg-ulpm">5.8+</td>
      <td class="tg-ulpm">0.166</td>
    </tr>
    <tr>
      <td class="tg-el4l"><a href="https://www.mountainproject.com/route/116668339/mariposa" target="_blank"
          rel="noopener noreferrer">Mariposa</a></td>
      <td class="tg-befh">Habitado</td>
      <td class="tg-ulpm">5.10-</td>
      <td class="tg-ulpm">0.146</td>
    </tr>
    <tr>
      <td class="tg-el4l"><a href="https://www.mountainproject.com/route/116707833/zits" target="_blank"
          rel="noopener noreferrer">Zits</a></td>
      <td class="tg-befh">Trick or Treat Wall</td>
      <td class="tg-ulpm">5.10</td>
      <td class="tg-ulpm">0.144</td>
    </tr>
    <tr>
      <td class="tg-el4l"><a href="https://www.mountainproject.com/route/116177998/lightning-bolt-crack" target="_blank"
          rel="noopener noreferrer">Lightning Bolt Crack</a></td>
      <td class="tg-befh">Habitado</td>
      <td class="tg-ulpm">5.9</td>
      <td class="tg-ulpm">0.119</td>
    </tr>
    <tr>
      <td class="tg-el4l"><a href="https://www.mountainproject.com/route/116707890/horse-crack" target="_blank"
          rel="noopener noreferrer">Horse Crack</a></td>
      <td class="tg-befh">Trick or Treat Wall</td>
      <td class="tg-ulpm">5.11</td>
      <td class="tg-ulpm">0.116</td>
    </tr>
    <tr>
      <td class="tg-el4l"><a href="https://www.mountainproject.com/route/117925164/unnamed-510" target="_blank"
          rel="noopener noreferrer">Unnamed 5.10</a></td>
      <td class="tg-befh">Habitado</td>
      <td class="tg-ulpm">5.10</td>
      <td class="tg-ulpm">0.104</td>
    </tr>
    <tr>
      <td class="tg-el4l"><a href="https://www.mountainproject.com/route/116134631/fission-quest" target="_blank"
          rel="noopener noreferrer">Fission Quest</a></td>
      <td class="tg-befh">Sinbad Wall aka Nuclear Wall</td>
      <td class="tg-ulpm">5.10</td>
      <td class="tg-ulpm">0.092</td>
    </tr>
    <tr>
      <td class="tg-el4l"><a href="https://www.mountainproject.com/route/116134602/nuclear-fingers" target="_blank"
          rel="noopener noreferrer">Nuclear Fingers</a></td>
      <td class="tg-befh">Sinbad Wall aka Nuclear Wall</td>
      <td class="tg-ulpm">5.11-</td>
      <td class="tg-ulpm">0.089</td>
    </tr>
    <tr>
      <td class="tg-el4l"><a href="https://www.mountainproject.com/route/116093642/meltdown" target="_blank"
          rel="noopener noreferrer">Meltdown</a></td>
      <td class="tg-befh">Sinbad Wall aka Nuclear Wall</td>
      <td class="tg-ulpm">5.9+</td>
      <td class="tg-ulpm">0.081</td>
    </tr>
    <tr>
      <td class="tg-el4l"><a href="https://www.mountainproject.com/route/107658941/tiffanys-mall-tour" target="_blank"
          rel="noopener noreferrer">Tiffany's Mall Tour</a></td>
      <td class="tg-befh">Sinbad Wall aka Nuclear Wall</td>
      <td class="tg-ulpm">5.10</td>
      <td class="tg-ulpm">0.078</td>
    </tr>
    <tr>
      <td class="tg-el4l"><a href="https://www.mountainproject.com/route/116707845/overthruster" target="_blank"
          rel="noopener noreferrer">Overthruster</a></td>
      <td class="tg-befh">Trick or Treat Wall</td>
      <td class="tg-ulpm">5.11</td>
      <td class="tg-ulpm">0.074</td>
    </tr>
    <tr>
      <td class="tg-el4l"><a href="https://www.mountainproject.com/route/105717421/triple-jeopardy" target="_blank"
          rel="noopener noreferrer">Triple Jeopardy</a></td>
      <td class="tg-befh">Supercrack Buttress</td>
      <td class="tg-ulpm">5.8</td>
      <td class="tg-ulpm">0.073</td>
    </tr>
    <tr>
      <td class="tg-el4l"><a href="https://www.mountainproject.com/route/116094125/crack-slabbath" target="_blank"
          rel="noopener noreferrer">Crack Slabbath</a></td>
      <td class="tg-befh">The Beach</td>
      <td class="tg-ulpm">5.9+</td>
      <td class="tg-ulpm">0.071</td>
    </tr>
    <tr>
      <td class="tg-el4l"><a href="https://www.mountainproject.com/route/116094137/kelley-route-8" target="_blank"
          rel="noopener noreferrer">Kelley Route 8</a></td>
      <td class="tg-befh">The Beach</td>
      <td class="tg-ulpm">5.10-</td>
      <td class="tg-ulpm">0.068</td>
    </tr>
    <tr>
      <td class="tg-el4l"><a href="https://www.mountainproject.com/route/107883640/jump-start" target="_blank"
          rel="noopener noreferrer">Jump Start</a></td>
      <td class="tg-befh">Sparks Wall</td>
      <td class="tg-ulpm">5.11-</td>
      <td class="tg-ulpm">0.065</td>
    </tr>
    <tr>
      <td class="tg-el4l"><a href="https://www.mountainproject.com/route/106787270/vienna" target="_blank"
          rel="noopener noreferrer">Vienna</a></td>
      <td class="tg-befh">Scarface</td>
      <td class="tg-ulpm">5.11-</td>
      <td class="tg-ulpm">0.059</td>
    </tr>
    <tr>
      <td class="tg-el4l"><a href="https://www.mountainproject.com/route/109698733/act-or-react" target="_blank"
          rel="noopener noreferrer">Act or React</a></td>
      <td class="tg-befh">Sinbad Wall aka Nuclear Wall</td>
      <td class="tg-ulpm">5.10</td>
      <td class="tg-ulpm">0.057</td>
    </tr>
    <tr>
      <td class="tg-el4l"><a href="https://www.mountainproject.com/route/107653915/owl-crack" target="_blank"
          rel="noopener noreferrer">Owl Crack</a></td>
      <td class="tg-befh">Donnelly Canyon</td>
      <td class="tg-ulpm">5.10</td>
      <td class="tg-ulpm">0.055</td>
    </tr>
    <tr>
      <td class="tg-el4l"><a href="https://www.mountainproject.com/route/110183139/buds-route" target="_blank"
          rel="noopener noreferrer">Bud's Route</a></td>
      <td class="tg-befh">The Gash</td>
      <td class="tg-ulpm">5.10</td>
      <td class="tg-ulpm">0.052</td>
    </tr>
  </tbody>
</table>