<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-vnpl{background-color:rgba(130, 130, 130, 0.08);color:#000000;text-align:right;vertical-align:middle}
.tg .tg-tdhq{color:#000000;text-align:right;vertical-align:middle}
.tg .tg-l2oz{font-weight:bold;text-align:right;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-l2oz">Feature</th>
    <th class="tg-l2oz">MI</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-tdhq"><span style="font-weight:normal">Num Ticks</span></td>
    <td class="tg-tdhq">0.544759</td>
  </tr>
  <tr>
    <td class="tg-vnpl"><span style="font-weight:normal">OS Ratio</span></td>
    <td class="tg-vnpl">0.246584</td>
  </tr>
  <tr>
    <td class="tg-tdhq"><span style="font-weight:normal">Rating</span></td>
    <td class="tg-tdhq">0.221365</td>
  </tr>
  <tr>
    <td class="tg-vnpl"><span style="font-weight:normal">Repeat Sender Ratio</span></td>
    <td class="tg-vnpl">0.139014</td>
  </tr>
  <tr>
    <td class="tg-tdhq"><span style="font-weight:normal">Lead Ratio</span></td>
    <td class="tg-tdhq">0.128011</td>
  </tr>
  <tr>
    <td class="tg-vnpl"><span style="font-weight:normal">Area Latitude</span></td>
    <td class="tg-vnpl">0.118916</td>
  </tr>
  <tr>
    <td class="tg-tdhq"><span style="font-weight:normal">Mean Attempts To RP</span></td>
    <td class="tg-tdhq">0.118625</td>
  </tr>
  <tr>
    <td class="tg-vnpl"><span style="font-weight:normal">Area Longitude</span></td>
    <td class="tg-vnpl">0.118038</td>
  </tr>
  <tr>
    <td class="tg-tdhq"><span style="font-weight:normal">Length</span></td>
    <td class="tg-tdhq">0.092261</td>
  </tr>
  <tr>
    <td class="tg-vnpl"><span style="font-weight:normal">Is Trad</span></td>
    <td class="tg-vnpl">0.017737</td>
  </tr>
  <tr>
    <td class="tg-tdhq"><span style="font-weight:normal">Risk</span></td>
    <td class="tg-tdhq">0.009966</td>
  </tr>
</tbody>
</table>