<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-2b7s{text-align:right;vertical-align:bottom}
.tg .tg-7zrl{text-align:left;vertical-align:bottom}
.tg .tg-j6zm{font-weight:bold;text-align:left;vertical-align:bottom}
.tg .tg-kex3{font-weight:bold;text-align:right;vertical-align:bottom}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-7zrl"></th>
    <th class="tg-j6zm"><span style="font-weight:bold">Coef.</span></th>
    <th class="tg-j6zm"><span style="font-weight:bold">Std.Err.</span></th>
    <th class="tg-kex3"><span style="font-weight:bold">t</span></th>
    <th class="tg-kex3"><span style="font-weight:bold">P&gt;|t|</span></th>
    <th class="tg-j6zm"><span style="font-weight:bold">[0.025</span></th>
    <th class="tg-j6zm"><span style="font-weight:bold">0.975]</span></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-kex3"><span style="font-weight:bold">Intercept</span></td>
    <td class="tg-2b7s">1.0213</td>
    <td class="tg-2b7s">0.0514</td>
    <td class="tg-2b7s">19.8674</td>
    <td class="tg-2b7s">0</td>
    <td class="tg-2b7s">0.9205</td>
    <td class="tg-2b7s">1.122</td>
  </tr>
  <tr>
    <td class="tg-kex3"><span style="font-weight:bold">Length_Missing</span></td>
    <td class="tg-2b7s">-0.047</td>
    <td class="tg-2b7s">0.0091</td>
    <td class="tg-2b7s">-5.1658</td>
    <td class="tg-2b7s">0</td>
    <td class="tg-2b7s">-0.0648</td>
    <td class="tg-2b7s">-0.0291</td>
  </tr>
  <tr>
    <td class="tg-kex3"><span style="font-weight:bold">Rating</span></td>
    <td class="tg-2b7s">0.065</td>
    <td class="tg-2b7s">0.001</td>
    <td class="tg-2b7s">64.1192</td>
    <td class="tg-2b7s">0</td>
    <td class="tg-2b7s">0.063</td>
    <td class="tg-2b7s">0.067</td>
  </tr>
  <tr>
    <td class="tg-kex3"><span style="font-weight:bold">Length</span></td>
    <td class="tg-2b7s">0.0002</td>
    <td class="tg-2b7s">0</td>
    <td class="tg-2b7s">11.0392</td>
    <td class="tg-2b7s">0</td>
    <td class="tg-2b7s">0.0002</td>
    <td class="tg-2b7s">0.0003</td>
  </tr>
  <tr>
    <td class="tg-kex3"><span style="font-weight:bold">Area_Latitude</span></td>
    <td class="tg-2b7s">0.0075</td>
    <td class="tg-2b7s">7.00E-04</td>
    <td class="tg-2b7s">10.6213</td>
    <td class="tg-2b7s">0</td>
    <td class="tg-2b7s">0.0061</td>
    <td class="tg-2b7s">0.0089</td>
  </tr>
  <tr>
    <td class="tg-kex3"><span style="font-weight:bold">Area_Longitude</span></td>
    <td class="tg-2b7s">-0.0011</td>
    <td class="tg-2b7s">0.0002</td>
    <td class="tg-2b7s">-5.2558</td>
    <td class="tg-2b7s">0</td>
    <td class="tg-2b7s">-0.0015</td>
    <td class="tg-2b7s">-0.0007</td>
  </tr>
  <tr>
    <td class="tg-kex3"><span style="font-weight:bold">Risk</span></td>
    <td class="tg-2b7s">-0.0205</td>
    <td class="tg-2b7s">0.0065</td>
    <td class="tg-2b7s">-3.1368</td>
    <td class="tg-2b7s">0.0017</td>
    <td class="tg-2b7s">-0.0333</td>
    <td class="tg-2b7s">-0.0077</td>
  </tr>
  <tr>
    <td class="tg-kex3"><span style="font-weight:bold">Num_Ticks</span></td>
    <td class="tg-2b7s">0.0004</td>
    <td class="tg-2b7s">0</td>
    <td class="tg-2b7s">40.9433</td>
    <td class="tg-2b7s">0</td>
    <td class="tg-2b7s">0.0004</td>
    <td class="tg-2b7s">0.0004</td>
  </tr>
  <tr>
    <td class="tg-kex3"><span style="font-weight:bold">Lead_Ratio</span></td>
    <td class="tg-2b7s">0.1634</td>
    <td class="tg-2b7s">1.52E-02</td>
    <td class="tg-2b7s">10.7597</td>
    <td class="tg-2b7s">0</td>
    <td class="tg-2b7s">0.1336</td>
    <td class="tg-2b7s">0.1931</td>
  </tr>
  <tr>
    <td class="tg-kex3"><span style="font-weight:bold">OS_Ratio</span></td>
    <td class="tg-2b7s">-0.0197</td>
    <td class="tg-2b7s">0.0141</td>
    <td class="tg-2b7s">-1.3998</td>
    <td class="tg-2b7s">0.1616</td>
    <td class="tg-2b7s">-0.0474</td>
    <td class="tg-2b7s">0.0079</td>
  </tr>
  <tr>
    <td class="tg-kex3"><span style="font-weight:bold">Repeat_Sender_Ratio</span></td>
    <td class="tg-2b7s">0.1173</td>
    <td class="tg-2b7s">0.0222</td>
    <td class="tg-2b7s">5.2776</td>
    <td class="tg-2b7s">0</td>
    <td class="tg-2b7s">0.0737</td>
    <td class="tg-2b7s">0.1609</td>
  </tr>
  <tr>
    <td class="tg-kex3"><span style="font-weight:bold">Mean_Attempts_To_RP</span></td>
    <td class="tg-2b7s">0.0958</td>
    <td class="tg-2b7s">0.0065</td>
    <td class="tg-2b7s">14.745</td>
    <td class="tg-2b7s">0</td>
    <td class="tg-2b7s">0.0831</td>
    <td class="tg-2b7s">0.1085</td>
  </tr>
  <tr>
    <td class="tg-kex3"><span style="font-weight:bold">Is_Trad</span></td>
    <td class="tg-2b7s">0.1901</td>
    <td class="tg-2b7s">0.0073</td>
    <td class="tg-2b7s">26.1398</td>
    <td class="tg-2b7s">0</td>
    <td class="tg-2b7s">0.1758</td>
    <td class="tg-2b7s">0.2043</td>
  </tr>
  <tr>
    <td class="tg-kex3"><span style="font-weight:bold">Is_SP</span></td>
    <td class="tg-2b7s">-0.1144</td>
    <td class="tg-2b7s">0.0116</td>
    <td class="tg-2b7s">-9.8627</td>
    <td class="tg-2b7s">0</td>
    <td class="tg-2b7s">-0.1371</td>
    <td class="tg-2b7s">-0.0917</td>
  </tr>
</tbody>
</table>