<style type="text/css">
  .tg {
    border-collapse: collapse;
    border-spacing: 0;
  }

  .tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
  }

  .tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
  }

  .tg .tg-2b7s {
    text-align: right;
    vertical-align: bottom
  }

  .tg .tg-kex3 {
    font-weight: bold;
    text-align: right;
    vertical-align: bottom
  }

  .tg .tg-0lax {
    text-align: left;
    vertical-align: top
  }
</style>
<table class="tg">
  <thead>
    <tr>
      <th class="tg-kex3"><span style="font-weight:bold">Model:</span></th>
      <th class="tg-2b7s"><span style="font-weight:normal">OLS</span></th>
      <th class="tg-kex3"><span style="font-weight:bold">Adj. R-squared:</span></th>
      <th class="tg-2b7s"><span style="font-weight:normal">0.43</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-kex3"><span style="font-weight:bold">Dependent Variable:</span></td>
      <td class="tg-2b7s"><span style="font-weight:normal">Bayesian_Stars</span></td>
      <td class="tg-kex3"><span style="font-weight:bold">AIC:</span></td>
      <td class="tg-2b7s"><span style="font-weight:normal">12596.2039</span></td>
    </tr>
    <tr>
      <td class="tg-kex3"><span style="font-weight:bold">Date:</span></td>
      <td class="tg-2b7s"><span style="font-weight:normal">2023-03-14 16:07</span></td>
      <td class="tg-kex3"><span style="font-weight:bold">BIC:</span></td>
      <td class="tg-2b7s"><span style="font-weight:normal">12703.8611</span></td>
    </tr>
    <tr>
      <td class="tg-kex3"><span style="font-weight:bold">No. Observations:</span></td>
      <td class="tg-2b7s"><span style="font-weight:normal">16152</span></td>
      <td class="tg-kex3"><span style="font-weight:bold">Log-Likelihood:</span></td>
      <td class="tg-2b7s"><span style="font-weight:normal">-6284.1</span></td>
    </tr>
    <tr>
      <td class="tg-kex3"><span style="font-weight:bold">Df Model:</span></td>
      <td class="tg-2b7s"><span style="font-weight:normal">13</span></td>
      <td class="tg-kex3"><span style="font-weight:bold">F-statistic:</span></td>
      <td class="tg-2b7s"><span style="font-weight:normal">939.2</span></td>
    </tr>
    <tr>
      <td class="tg-kex3"><span style="font-weight:bold">Df Residuals:</span></td>
      <td class="tg-2b7s"><span style="font-weight:normal">16138</span></td>
      <td class="tg-kex3"><span style="font-weight:bold">Prob (F-statistic):</span></td>
      <td class="tg-2b7s"><span style="font-weight:normal">0.00E+00</span></td>
    </tr>
    <tr>
      <td class="tg-kex3"><span style="font-weight:bold">R-squared:</span></td>
      <td class="tg-2b7s"><span style="font-weight:normal">0.431</span></td>
      <td class="tg-kex3"><span style="font-weight:bold">Scale:</span></td>
      <td class="tg-2b7s"><span style="font-weight:normal">1.28E-01</span></td>
    </tr>
    <tr>
      <td class="tg-0lax"></td>
      <td class="tg-0lax"></td>
      <td class="tg-0lax"></td>
      <td class="tg-0lax"></td>
    </tr>
    <tr>
      <td class="tg-kex3"><span style="font-weight:bold">Omnibus:</span></td>
      <td class="tg-2b7s"><span style="font-weight:normal">49.578</span></td>
      <td class="tg-kex3"><span style="font-weight:bold">Durbin-Watson:</span></td>
      <td class="tg-2b7s"><span style="font-weight:normal">1.584</span></td>
    </tr>
    <tr>
      <td class="tg-kex3"><span style="font-weight:bold">Prob(Omnibus):</span></td>
      <td class="tg-2b7s"><span style="font-weight:normal">0</span></td>
      <td class="tg-kex3"><span style="font-weight:bold">Jarque-Bera (JB):</span></td>
      <td class="tg-2b7s"><span style="font-weight:normal">55.4</span></td>
    </tr>
    <tr>
      <td class="tg-kex3"><span style="font-weight:bold">Skew:</span></td>
      <td class="tg-2b7s"><span style="font-weight:normal">0.092</span></td>
      <td class="tg-kex3"><span style="font-weight:bold">Prob(JB):</span></td>
      <td class="tg-2b7s"><span style="font-weight:normal">0</span></td>
    </tr>
    <tr>
      <td class="tg-kex3"><span style="font-weight:bold">Kurtosis:</span></td>
      <td class="tg-2b7s"><span style="font-weight:normal">3.221</span></td>
      <td class="tg-kex3"><span style="font-weight:bold">Condition No.:</span></td>
      <td class="tg-2b7s"><span style="font-weight:normal">6739</span></td>
    </tr>
  </tbody>
</table>