<style type="text/css">
  .tg {
    border-collapse: collapse;
    border-spacing: 0;
  }

  .tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
  }

  .tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
  }

  .tg .tg-vnpl {
    background-color: rgba(130, 130, 130, 0.08);
    color: #000000;
    text-align: right;
    vertical-align: middle
  }

  .tg .tg-tdhq {
    color: #000000;
    text-align: right;
    vertical-align: middle
  }

  .tg .tg-vkan {
    color: #000000;
    font-weight: bold;
    text-align: right;
    vertical-align: middle
  }

  .tg .tg-qyiw {
    background-color: rgba(130, 130, 130, 0.08);
    color: #000000;
    font-weight: bold;
    text-align: right;
    vertical-align: middle
  }
</style>
<table class="tg">
  <thead>
    <tr>
      <th class="tg-vkan"></th>
      <th class="tg-vkan">Route ID</th>
      <th class="tg-vkan">Route</th>
      <th class="tg-vkan">Location</th>
      <th class="tg-vkan">Area Latitude</th>
      <th class="tg-vkan">Area Longitude</th>
      <th class="tg-vkan">Route Type</th>
      <th class="tg-vkan">Rating</th>
      <th class="tg-vkan">Risk</th>
      <th class="tg-vkan">Length</th>
      <th class="tg-vkan">Pitches</th>
      <th class="tg-vkan">SP/MP</th>
      <th class="tg-vkan">Num Ticks</th>
      <th class="tg-vkan">Num Tickers</th>
      <th class="tg-vkan">Lead Ratio</th>
      <th class="tg-vkan">OS Ratio</th>
      <th class="tg-vkan">Repeat Sender Ratio</th>
      <th class="tg-vkan">Mean Attempts To RP</th>
      <th class="tg-vkan">Bayesian Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-vkan">14067</td>
      <td class="tg-tdhq">105717901</td>
      <td class="tg-tdhq">Astro Lad</td>
      <td class="tg-tdhq">Wall Street &gt; Potash Road &gt; Southeast Utah &gt; Utah</td>
      <td class="tg-tdhq">38.54668</td>
      <td class="tg-tdhq">-109.59959</td>
      <td class="tg-tdhq">Trad</td>
      <td class="tg-tdhq">5.11a</td>
      <td class="tg-tdhq">NaN</td>
      <td class="tg-tdhq">60.0</td>
      <td class="tg-tdhq">1</td>
      <td class="tg-tdhq">SP</td>
      <td class="tg-tdhq">254.0</td>
      <td class="tg-tdhq">209.0</td>
      <td class="tg-tdhq">0.692771</td>
      <td class="tg-tdhq">0.454545</td>
      <td class="tg-tdhq">1.045455</td>
      <td class="tg-tdhq">1.400000</td>
      <td class="tg-tdhq">3.543581</td>
    </tr>
    <tr>
      <td class="tg-qyiw">28317</td>
      <td class="tg-vnpl">107290449</td>
      <td class="tg-vnpl">Blind Faith</td>
      <td class="tg-vnpl">Ba. The Rostrum &gt; Lower Merced River Canyon &gt; ...</td>
      <td class="tg-vnpl">37.71848</td>
      <td class="tg-vnpl">-119.70799</td>
      <td class="tg-vnpl">Trad</td>
      <td class="tg-vnpl">5.11+</td>
      <td class="tg-vnpl">NaN</td>
      <td class="tg-vnpl">400.0</td>
      <td class="tg-vnpl">5</td>
      <td class="tg-vnpl">MP</td>
      <td class="tg-vnpl">37.0</td>
      <td class="tg-vnpl">32.0</td>
      <td class="tg-vnpl">0.714286</td>
      <td class="tg-vnpl">0.928571</td>
      <td class="tg-vnpl">1.000000</td>
      <td class="tg-vnpl">1.000000</td>
      <td class="tg-vnpl">3.615288</td>
    </tr>
    <tr>
      <td class="tg-vkan">16044</td>
      <td class="tg-tdhq">106580254</td>
      <td class="tg-tdhq">Ledgends of Limonite</td>
      <td class="tg-tdhq">The Great Wall &gt; Muir Valley &gt; Red River Gorge...</td>
      <td class="tg-tdhq">37.73288</td>
      <td class="tg-tdhq">-83.63751</td>
      <td class="tg-tdhq">Sport</td>
      <td class="tg-tdhq">5.8</td>
      <td class="tg-tdhq">NaN</td>
      <td class="tg-tdhq">55.0</td>
      <td class="tg-tdhq">1</td>
      <td class="tg-tdhq">SP</td>
      <td class="tg-tdhq">716.0</td>
      <td class="tg-tdhq">639.0</td>
      <td class="tg-tdhq">0.773960</td>
      <td class="tg-tdhq">0.834286</td>
      <td class="tg-tdhq">1.037855</td>
      <td class="tg-tdhq">1.259259</td>
      <td class="tg-tdhq">2.128985</td>
    </tr>
    <tr>
      <td class="tg-qyiw">2117</td>
      <td class="tg-vnpl">105749890</td>
      <td class="tg-vnpl">Werk Supp</td>
      <td class="tg-vnpl">The Bastille - N Face &gt; The Bastille &gt; Eldorad...</td>
      <td class="tg-vnpl">39.93070</td>
      <td class="tg-vnpl">-105.28300</td>
      <td class="tg-vnpl">Trad</td>
      <td class="tg-vnpl">5.9</td>
      <td class="tg-vnpl">NaN</td>
      <td class="tg-vnpl">200.0</td>
      <td class="tg-vnpl">2</td>
      <td class="tg-vnpl">MP</td>
      <td class="tg-vnpl">2423.0</td>
      <td class="tg-vnpl">1454.0</td>
      <td class="tg-vnpl">0.679305</td>
      <td class="tg-vnpl">0.654577</td>
      <td class="tg-vnpl">1.230958</td>
      <td class="tg-vnpl">2.050847</td>
      <td class="tg-vnpl">3.391432</td>
    </tr>
    <tr>
      <td class="tg-vkan">4278</td>
      <td class="tg-tdhq">107619457</td>
      <td class="tg-tdhq">Fairy Dust</td>
      <td class="tg-tdhq">Cliffs of Insanity &gt; Indian Creek &gt; Southeast ...</td>
      <td class="tg-tdhq">38.15145</td>
      <td class="tg-tdhq">-109.59834</td>
      <td class="tg-tdhq">Trad</td>
      <td class="tg-tdhq">5.11-</td>
      <td class="tg-tdhq">NaN</td>
      <td class="tg-tdhq">70.0</td>
      <td class="tg-tdhq">1</td>
      <td class="tg-tdhq">SP</td>
      <td class="tg-tdhq">6.0</td>
      <td class="tg-tdhq">6.0</td>
      <td class="tg-tdhq">0.666667</td>
      <td class="tg-tdhq">1.000000</td>
      <td class="tg-tdhq">1.000000</td>
      <td class="tg-tdhq">NaN</td>
      <td class="tg-tdhq">2.619470</td>
    </tr>
  </tbody>
</table>