<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .tg td {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }

    .tg th {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }

    .tg .tg-vnpl {
        background-color: rgba(130, 130, 130, 0.08);
        color: #000000;
        text-align: right;
        vertical-align: middle
    }

    .tg .tg-tdhq {
        color: #000000;
        text-align: right;
        vertical-align: middle
    }

    .tg .tg-m7i9 {
        color: #000000;
        font-weight: bold;
        text-align: right;
        vertical-align: top
    }

    .tg .tg-lqy6 {
        text-align: right;
        vertical-align: top
    }

    .tg .tg-l2oz {
        font-weight: bold;
        text-align: right;
        vertical-align: top
    }

    .tg .tg-5b3h {
        background-color: rgba(130, 130, 130, 0.08);
        text-align: right;
        vertical-align: top
    }
</style>
<table class="tg">
    <thead>
        <tr>
            <th class="tg-m7i9">Feature</th>
            <th class="tg-l2oz">VIF Factor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="tg-tdhq">Length_Missing</td>
            <td class="tg-lqy6">1.06</td>
        </tr>
        <tr>
            <td class="tg-vnpl">Repeat_Sender_Ratio</td>
            <td class="tg-5b3h">1.07</td>
        </tr>
        <tr>
            <td class="tg-tdhq">Mean_Attempts_To_RP</td>
            <td class="tg-lqy6">1.07</td>
        </tr>
        <tr>
            <td class="tg-vnpl">Area_Latitude</td>
            <td class="tg-5b3h">1.11</td>
        </tr>
        <tr>
            <td class="tg-tdhq">Risk</td>
            <td class="tg-lqy6">1.11</td>
        </tr>
        <tr>
            <td class="tg-vnpl">Area_Longitude</td>
            <td class="tg-5b3h">1.22</td>
        </tr>
        <tr>
            <td class="tg-tdhq">Lead_Ratio</td>
            <td class="tg-lqy6">1.60</td>
        </tr>
        <tr>
            <td class="tg-vnpl">Is_Trad</td>
            <td class="tg-5b3h">1.69</td>
        </tr>
        <tr>
            <td class="tg-tdhq">Is_SP</td>
            <td class="tg-lqy6">2.05</td>
        </tr>
        <tr>
            <td class="tg-vnpl">OS_Ratio</td>
            <td class="tg-5b3h">2.39</td>
        </tr>
        <tr>
            <td class="tg-tdhq">Rating</td>
            <td class="tg-lqy6">2.56</td>
        </tr>
        <tr>
            <td class="tg-vnpl">Length</td>
            <td class="tg-5b3h">11.82</td>
        </tr>
        <tr>
            <td class="tg-tdhq">Pitches</td>
            <td class="tg-lqy6">12.10</td>
        </tr>
        <tr>
            <td class="tg-vnpl">Num_Ticks</td>
            <td class="tg-5b3h">107.93</td>
        </tr>
        <tr>
            <td class="tg-tdhq">Num_Tickers</td>
            <td class="tg-lqy6">108.01</td>
        </tr>
        <tr>
            <td class="tg-vnpl">Intercept</td>
            <td class="tg-5b3h">349.37</td>
        </tr>
    </tbody>
</table>