<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .tg td {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }

    .tg th {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }

    .tg .tg-3z1b {
        border-color: #000000;
        text-align: right;
        vertical-align: top
    }

    .tg .tg-lqy6 {
        text-align: right;
        vertical-align: top
    }

    .tg .tg-luhm {
        background-color: #ecf4ff;
        border-color: #000000;
        font-weight: bold;
        text-align: left;
        vertical-align: top
    }

    .tg .tg-34e2 {
        border-color: #000000;
        color: #15C;
        font-weight: bold;
        text-align: left;
        text-decoration: underline;
        vertical-align: top
    }

    .tg .tg-73oq {
        border-color: #000000;
        text-align: left;
        vertical-align: top
    }

    .tg .tg-zb5k {
        color: #15C;
        text-align: left;
        text-decoration: underline;
        vertical-align: top
    }

    .tg .tg-0lax {
        text-align: left;
        vertical-align: top
    }
</style>
<table class="tg">
    <thead>
        <tr>
            <th class="tg-luhm"><span
                    style="font-weight:700;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Route</span>
            </th>
            <th class="tg-luhm"><span
                    style="font-weight:700;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Location</span>
            </th>
            <th class="tg-luhm"><span
                    style="font-weight:700;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Rating</span>
            </th>
            <th class="tg-luhm"><span
                    style="font-weight:700;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Num
                    Ticks</span></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="tg-34e2"><a href="https://www.mountainproject.com/route/105717367/incredible-hand-crack"><span
                        style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Incredible
                        Hand Crack</span></a></td>
            <td class="tg-73oq"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Supercrack
                    Buttress</span></td>
            <td class="tg-3z1b"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10</span>
            </td>
            <td class="tg-3z1b"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">2930</span>
            </td>
        </tr>
        <tr>
            <td class="tg-34e2"><a href="https://www.mountainproject.com/route/105717364/supercrack-of-the-desert"><span
                        style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Supercrack
                        of the Desert</span></a></td>
            <td class="tg-73oq"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Supercrack
                    Buttress</span></td>
            <td class="tg-3z1b"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10</span>
            </td>
            <td class="tg-3z1b"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">2775</span>
            </td>
        </tr>
        <tr>
            <td class="tg-34e2"><a href="https://www.mountainproject.com/route/105717349/chocolate-corner"><span
                        style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Chocolate
                        Corner</span></a></td>
            <td class="tg-73oq"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Donnelly
                    Canyon</span></td>
            <td class="tg-3z1b"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.9+</span>
            </td>
            <td class="tg-3z1b"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">2579</span>
            </td>
        </tr>
        <tr>
            <td class="tg-34e2"><a href="https://www.mountainproject.com/route/105717328/generic-crack"><span
                        style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Generic
                        Crack</span></a></td>
            <td class="tg-73oq"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Donnelly
                    Canyon</span></td>
            <td class="tg-3z1b"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10-</span>
            </td>
            <td class="tg-3z1b"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">2402</span>
            </td>
        </tr>
        <tr>
            <td class="tg-34e2"><a href="https://www.mountainproject.com/route/105718435/blue-sun"><span
                        style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Blue
                        Sun</span></a></td>
            <td class="tg-73oq"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Way
                    Rambo</span></td>
            <td class="tg-3z1b"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10-</span>
            </td>
            <td class="tg-3z1b"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">2182</span>
            </td>
        </tr>
        <tr>
            <td class="tg-34e2"><a href="https://www.mountainproject.com/route/105717346/binous-crack"><span
                        style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Binou's
                        Crack</span></a></td>
            <td class="tg-73oq"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Donnelly
                    Canyon</span></td>
            <td class="tg-3z1b"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.8+</span>
            </td>
            <td class="tg-3z1b"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">1936</span>
            </td>
        </tr>
        <tr>
            <td class="tg-34e2"><a href="https://www.mountainproject.com/route/105717484/scarface"><span
                        style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Scarface</span></a>
            </td>
            <td class="tg-73oq"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Scarface</span>
            </td>
            <td class="tg-3z1b"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.11-</span>
            </td>
            <td class="tg-3z1b"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">1889</span>
            </td>
        </tr>
        <tr>
            <td class="tg-34e2"><a href="https://www.mountainproject.com/route/105717445/twin-cracks"><span
                        style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Twin
                        Cracks</span></a></td>
            <td class="tg-73oq"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Supercrack
                    Buttress</span></td>
            <td class="tg-3z1b"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.8+</span>
            </td>
            <td class="tg-3z1b"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">1850</span>
            </td>
        </tr>
        <tr>
            <td class="tg-34e2"><a href="https://www.mountainproject.com/route/105717766/3am-crack"><span
                        style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">3AM
                        Crack</span></a></td>
            <td class="tg-73oq"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Supercrack
                    Buttress</span></td>
            <td class="tg-3z1b"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10</span>
            </td>
            <td class="tg-3z1b"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">1502</span>
            </td>
        </tr>
        <tr>
            <td class="tg-34e2"><a href="https://www.mountainproject.com/route/105717661/elephant-man"><span
                        style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Elephant
                        Man</span></a></td>
            <td class="tg-73oq"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Donnelly
                    Canyon</span></td>
            <td class="tg-3z1b"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10-</span>
            </td>
            <td class="tg-3z1b"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">1356</span>
            </td>
        </tr>
        <tr>
            <td class="tg-34e2"><a href="https://www.mountainproject.com/route/105717922/wavy-gravy"><span
                        style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Wavy
                        Gravy</span></a></td>
            <td class="tg-73oq"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Scarface</span>
            </td>
            <td class="tg-3z1b"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10</span>
            </td>
            <td class="tg-3z1b"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">1346</span>
            </td>
        </tr>
        <tr>
            <td class="tg-34e2"><a href="https://www.mountainproject.com/route/105717361/cave-route"><span
                        style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Cave
                        Route</span></a></td>
            <td class="tg-73oq"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Battle
                    of the Bulge Buttress</span></td>
            <td class="tg-3z1b"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10+</span>
            </td>
            <td class="tg-3z1b"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">1245</span>
            </td>
        </tr>
        <tr>
            <td class="tg-zb5k"><a href="https://www.mountainproject.com/route/105718786/annunaki"><span
                        style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Annunaki</span></a>
            </td>
            <td class="tg-0lax"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">The
                    Optimator</span></td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.11+</span>
            </td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">1235</span>
            </td>
        </tr>
        <tr>
            <td class="tg-zb5k"><a href="https://www.mountainproject.com/route/105717562/south-face"><span
                        style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">South
                        Face</span></a></td>
            <td class="tg-0lax"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">South
                    Sixshooter</span></td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.7</span>
            </td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">1119</span>
            </td>
        </tr>
        <tr>
            <td class="tg-zb5k"><a href="https://www.mountainproject.com/route/105821587/railroad-tracks"><span
                        style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Railroad
                        Tracks</span></a></td>
            <td class="tg-0lax"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Battle
                    of the Bulge Buttress</span></td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10</span>
            </td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">1096</span>
            </td>
        </tr>
        <tr>
            <td class="tg-zb5k"><a href="https://www.mountainproject.com/route/105718441/rochambeau"><span
                        style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Rochambeau</span></a>
            </td>
            <td class="tg-0lax"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Way
                    Rambo</span></td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.9</span>
            </td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">1044</span>
            </td>
        </tr>
        <tr>
            <td class="tg-zb5k"><a href="https://www.mountainproject.com/route/105718657/neat"><span
                        style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Neat</span></a>
            </td>
            <td class="tg-0lax"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">The
                    Optimator</span></td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10</span>
            </td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">887</span>
            </td>
        </tr>
        <tr>
            <td class="tg-zb5k"><a href="https://www.mountainproject.com/route/105718642/way-rambo"><span
                        style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Way
                        Rambo</span></a></td>
            <td class="tg-0lax"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Way
                    Rambo</span></td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.12-</span>
            </td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">859</span>
            </td>
        </tr>
        <tr>
            <td class="tg-zb5k"><a href="https://www.mountainproject.com/route/105718753/soul-fire"><span
                        style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Soul
                        Fire</span></a></td>
            <td class="tg-0lax"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">The
                    Optimator</span></td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.11-</span>
            </td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">812</span>
            </td>
        </tr>
        <tr>
            <td class="tg-zb5k"><a href="https://www.mountainproject.com/route/105717571/jolly-rancher"><span
                        style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Jolly
                        Rancher</span></a></td>
            <td class="tg-0lax"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Pistol
                    Whipped</span></td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10</span>
            </td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">812</span>
            </td>
        </tr>
        <tr>
            <td class="tg-zb5k"><a href="https://www.mountainproject.com/route/105718192/tom-cat"><span
                        style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Tom
                        Cat</span></a></td>
            <td class="tg-0lax"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Cat
                    Wall</span></td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10</span>
            </td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">810</span>
            </td>
        </tr>
        <tr>
            <td class="tg-zb5k"><a href="https://www.mountainproject.com/route/105717343/coyne-crack"><span
                        style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Coyne
                        Crack</span></a></td>
            <td class="tg-0lax"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Supercrack
                    Buttress</span></td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.11+</span>
            </td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">792</span>
            </td>
        </tr>
        <tr>
            <td class="tg-zb5k"><a href="https://www.mountainproject.com/route/106720518/hand-solo"><span
                        style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Hand
                        Solo</span></a></td>
            <td class="tg-0lax"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Selfish
                    Wall</span></td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.9</span>
            </td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">787</span>
            </td>
        </tr>
        <tr>
            <td class="tg-zb5k"><a href="https://www.mountainproject.com/route/106293592/sparkling-zygote"><span
                        style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Sparkling
                        Zygote</span></a></td>
            <td class="tg-0lax"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Sparks
                    Wall</span></td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10-</span>
            </td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">767</span>
            </td>
        </tr>
        <tr>
            <td class="tg-zb5k"><a href="https://www.mountainproject.com/route/105888734/go-sparky-go"><span
                        style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Go
                        Sparky Go</span></a></td>
            <td class="tg-0lax"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Sparks
                    Wall</span></td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.11</span>
            </td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">757</span>
            </td>
        </tr>
        <tr>
            <td class="tg-zb5k"><a href="https://www.mountainproject.com/route/105718768/fuzz"><span
                        style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Fuzz</span></a>
            </td>
            <td class="tg-0lax"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Way
                    Rambo</span></td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10</span>
            </td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">732</span>
            </td>
        </tr>
        <tr>
            <td class="tg-zb5k"><a href="https://www.mountainproject.com/route/105718567/way-putter"><span
                        style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Way
                        Putter</span></a></td>
            <td class="tg-0lax"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Way
                    Rambo</span></td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.9</span>
            </td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">725</span>
            </td>
        </tr>
        <tr>
            <td class="tg-zb5k"><a href="https://www.mountainproject.com/route/108787826/italian-combo"><span
                        style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Italian
                        Combo</span></a></td>
            <td class="tg-0lax"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Scarface</span>
            </td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.9+</span>
            </td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">724</span>
            </td>
        </tr>
        <tr>
            <td class="tg-zb5k"><a href="https://www.mountainproject.com/route/105717424/gorilla"><span
                        style="font-weight:400;font-style:normal;text-decoration:underline;color:#15C;background-color:transparent">Gorilla</span></a>
            </td>
            <td class="tg-0lax"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Supercrack
                    Buttress</span></td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5.10</span>
            </td>
            <td class="tg-lqy6"><span
                    style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">721</span>
            </td>
        </tr>
    </tbody>
</table>