<style type="text/css">
  .tg {
    border-collapse: collapse;
    border-color: #ccc;
    border-spacing: 0;
  }

  .tg td {
    background-color: #fff;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
  }

  .tg th {
    background-color: #f0f0f0;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
  }

  .tg .tg-cly1 {
    text-align: left;
    vertical-align: middle
  }

  .tg .tg-buh4 {
    background-color: #f9f9f9;
    text-align: left;
    vertical-align: top
  }

  .tg .tg-yla0 {
    font-weight: bold;
    text-align: left;
    vertical-align: middle
  }

  .tg .tg-yjjc {
    background-color: #f9f9f9;
    text-align: left;
    vertical-align: middle
  }
</style>
<table class="tg">
  <thead>
    <tr>
      <th class="tg-yla0">Year</th>
      <th class="tg-yla0">Start Date</th>
      <th class="tg-yla0">End Date</th>
      <th class="tg-yla0">Walls Closed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-yjjc">2023</td>
      <td class="tg-yjjc">2-27</td>
      <td class="tg-buh4">8-31</td>
      <td class="tg-yjjc">Suburbia, Echoes Wall, The Wall, Far Side, Cliffs of Insanity, Original Meat Wall,
        Tenderloins, 2nd Meat Wall, 1st Meat Wall, Disappointment Cliffs, Selfish Wall, Six Star Wall, Shock and Awe,
        Public Service Wall, Fin Wall, Broken Tooth, Cat Wall, Slug Wall, Reservoir Wall</td>
    </tr>
    <tr>
      <td class="tg-cly1">2022</td>
      <td class="tg-cly1">3-1</td>
      <td class="tg-cly1">8-19</td>
      <td class="tg-cly1">Suburbia, Echoes Wall, The Wall, Far Side, Cliffs of Insanity, Original Meat Wall,
        Tenderloins, 2nd Meat Wall, 1st Meat Wall, Disappointment Cliffs, Selfish Wall, Six Star Wall, Shock and Awe,
        Public Service Wall, Fin Wall, Broken Tooth, Cat Wall, Slug Wall, Reservoir Wall</td>
    </tr>
    <tr>
      <td class="tg-yjjc">2021</td>
      <td class="tg-yjjc">2-11</td>
      <td class="tg-yjjc">9-2</td>
      <td class="tg-yjjc">Suburbia, Echoes Wall, The Wall, Far Side, Cliffs of Insanity, Original Meat Wall,
        Tenderloins, 2nd Meat Wall, 1st Meat Wall, Disappointment Cliffs, Selfish Wall, Six Star Wall, Shock and Awe,
        Public Service Wall, Fin Wall, Broken Tooth, Cat Wall, Slug Wall, Reservoir Wall</td>
    </tr>
    <tr>
      <td class="tg-cly1">2020</td>
      <td class="tg-cly1">2-28</td>
      <td class="tg-cly1">9-1</td>
      <td class="tg-cly1">The Wall, Far Side, Original Meat Wall, Tenderloins, 2nd Meat Wall, 1st Meat Wall,
        Disappointment Cliffs, Fin Wall, Broken Tooth, Cat Wall, Slug Wall, and Reservoir Wall</td>
    </tr>
    <tr>
      <td class="tg-yjjc">2019</td>
      <td class="tg-yjjc">2-14</td>
      <td class="tg-yjjc">9-3</td>
      <td class="tg-yjjc">The Wall, Far Side, 2nd Meat Wall, Disappointment Cliffs, Fin Wall, Broken Tooth, Cat Wall,
        Slug Wall, Reservoir Wall</td>
    </tr>
    <tr>
      <td class="tg-cly1">2018</td>
      <td class="tg-cly1">3-1</td>
      <td class="tg-cly1">8-31</td>
      <td class="tg-cly1">The Wall, Cat Wall, Reservoir Wall</td>
    </tr>
  </tbody>
</table>