<style type="text/css">
  .tg {
    border-collapse: collapse;
    border-color: #ccc;
    border-spacing: 0;
  }

  .tg td {
    background-color: #fff;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
  }

  .tg th {
    background-color: #f0f0f0;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
  }

  .tg .tg-cly1 {
    text-align: left;
    vertical-align: middle
  }

  .tg .tg-buh4 {
    background-color: #f9f9f9;
    text-align: left;
    vertical-align: top
  }

  .tg .tg-yla0 {
    font-weight: bold;
    text-align: left;
    vertical-align: middle
  }

  .tg .tg-yjjc {
    background-color: #f9f9f9;
    text-align: left;
    vertical-align: middle
  }

  .tg .tg-0lax {
    text-align: left;
    vertical-align: top
  }
</style>
<table class="tg">
  <thead>
    <tr>
      <th class="tg-yla0">Violations</th>
      <th class="tg-yla0">Age</th>
      <th class="tg-yla0">Gender</th>
      <th class="tg-yla0">Hometown</th>
      <th class="tg-yla0">Member Since</th>
      <th class="tg-yla0">Total Ticks</th>
      <th class="tg-yla0">Perceived Ability</th>
      <th class="tg-yla0">2-Year Violator</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-yjjc">19</td>
      <td class="tg-yjjc">37</td>
      <td class="tg-yjjc">M</td>
      <td class="tg-buh4"></td>
      <td class="tg-yjjc">2017</td>
      <td class="tg-yjjc">953</td>
      <td class="tg-yjjc">Advanced</td>
      <td class="tg-buh4"></td>
    </tr>
    <tr>
      <td class="tg-cly1">18</td>
      <td class="tg-0lax"></td>
      <td class="tg-cly1">M</td>
      <td class="tg-0lax"></td>
      <td class="tg-cly1">2014</td>
      <td class="tg-cly1">863</td>
      <td class="tg-cly1">Advanced</td>
      <td class="tg-cly1">Y</td>
    </tr>
    <tr>
      <td class="tg-yjjc">18</td>
      <td class="tg-buh4"></td>
      <td class="tg-buh4"></td>
      <td class="tg-yjjc">Salt Lake City</td>
      <td class="tg-yjjc">2022</td>
      <td class="tg-yjjc">224</td>
      <td class="tg-yjjc">Advanced</td>
      <td class="tg-buh4"></td>
    </tr>
    <tr>
      <td class="tg-cly1">16</td>
      <td class="tg-0lax"></td>
      <td class="tg-0lax"></td>
      <td class="tg-0lax"></td>
      <td class="tg-cly1">2018</td>
      <td class="tg-cly1">1028</td>
      <td class="tg-cly1">Advanced</td>
      <td class="tg-0lax"></td>
    </tr>
    <tr>
      <td class="tg-yjjc">13</td>
      <td class="tg-yjjc">32</td>
      <td class="tg-yjjc">M</td>
      <td class="tg-yjjc">South Fork</td>
      <td class="tg-yjjc">2016</td>
      <td class="tg-yjjc">559</td>
      <td class="tg-yjjc">Advanced</td>
      <td class="tg-buh4"></td>
    </tr>
    <tr>
      <td class="tg-cly1">13</td>
      <td class="tg-cly1">28</td>
      <td class="tg-cly1">M</td>
      <td class="tg-cly1">West Virginia</td>
      <td class="tg-cly1">2016</td>
      <td class="tg-cly1">803</td>
      <td class="tg-cly1">Advanced</td>
      <td class="tg-0lax"></td>
    </tr>
    <tr>
      <td class="tg-yjjc">13</td>
      <td class="tg-buh4"></td>
      <td class="tg-yjjc">F</td>
      <td class="tg-yjjc">Berkeley</td>
      <td class="tg-yjjc">2018</td>
      <td class="tg-yjjc">586</td>
      <td class="tg-yjjc">Intermediate</td>
      <td class="tg-buh4"></td>
    </tr>
    <tr>
      <td class="tg-cly1">11</td>
      <td class="tg-0lax"></td>
      <td class="tg-cly1">F</td>
      <td class="tg-cly1">Western Slope</td>
      <td class="tg-cly1">2017</td>
      <td class="tg-cly1">733</td>
      <td class="tg-cly1">Intermediate</td>
      <td class="tg-cly1">Y</td>
    </tr>
    <tr>
      <td class="tg-yjjc">11</td>
      <td class="tg-yjjc">64</td>
      <td class="tg-yjjc">M</td>
      <td class="tg-buh4"></td>
      <td class="tg-yjjc">2010</td>
      <td class="tg-yjjc">331</td>
      <td class="tg-yjjc">Intermediate</td>
      <td class="tg-buh4"></td>
    </tr>
    <tr>
      <td class="tg-cly1">11</td>
      <td class="tg-cly1">35</td>
      <td class="tg-cly1">M</td>
      <td class="tg-cly1">Carpinteria</td>
      <td class="tg-cly1">2014</td>
      <td class="tg-cly1">1052</td>
      <td class="tg-cly1">Intermediate</td>
      <td class="tg-cly1">Y</td>
    </tr>
    <tr>
      <td class="tg-yjjc">10</td>
      <td class="tg-yjjc">29</td>
      <td class="tg-yjjc">M</td>
      <td class="tg-buh4"></td>
      <td class="tg-yjjc">2018</td>
      <td class="tg-yjjc">1425</td>
      <td class="tg-yjjc">Advanced</td>
      <td class="tg-buh4"></td>
    </tr>
    <tr>
      <td class="tg-cly1">9</td>
      <td class="tg-cly1">33</td>
      <td class="tg-cly1">F</td>
      <td class="tg-cly1">Moab</td>
      <td class="tg-cly1">2015</td>
      <td class="tg-cly1">976</td>
      <td class="tg-cly1">Advanced</td>
      <td class="tg-cly1">Y</td>
    </tr>
    <tr>
      <td class="tg-yjjc">9</td>
      <td class="tg-buh4"></td>
      <td class="tg-yjjc">M</td>
      <td class="tg-yjjc">Denver</td>
      <td class="tg-yjjc">2018</td>
      <td class="tg-yjjc">865</td>
      <td class="tg-yjjc">Intermediate</td>
      <td class="tg-buh4"></td>
    </tr>
    <tr>
      <td class="tg-cly1">9</td>
      <td class="tg-0lax"></td>
      <td class="tg-cly1">M</td>
      <td class="tg-cly1">Boulder</td>
      <td class="tg-cly1">2015</td>
      <td class="tg-cly1">297</td>
      <td class="tg-cly1">Advanced</td>
      <td class="tg-0lax"></td>
    </tr>
    <tr>
      <td class="tg-yjjc">9</td>
      <td class="tg-yjjc">41</td>
      <td class="tg-yjjc">F</td>
      <td class="tg-yjjc">Salt Lake City</td>
      <td class="tg-yjjc">2017</td>
      <td class="tg-yjjc">426</td>
      <td class="tg-yjjc">Beginner</td>
      <td class="tg-buh4"></td>
    </tr>
    <tr>
      <td class="tg-cly1">9</td>
      <td class="tg-cly1">27</td>
      <td class="tg-cly1">M</td>
      <td class="tg-cly1">Raleigh</td>
      <td class="tg-cly1">2019</td>
      <td class="tg-cly1">637</td>
      <td class="tg-cly1">Beginner</td>
      <td class="tg-cly1">Y</td>
    </tr>
    <tr>
      <td class="tg-yjjc">7</td>
      <td class="tg-yjjc">40</td>
      <td class="tg-yjjc">F</td>
      <td class="tg-yjjc">Salt Lake City</td>
      <td class="tg-yjjc">2010</td>
      <td class="tg-yjjc">285</td>
      <td class="tg-yjjc">Beginner</td>
      <td class="tg-buh4"></td>
    </tr>
    <tr>
      <td class="tg-cly1">7</td>
      <td class="tg-cly1">36</td>
      <td class="tg-cly1">M</td>
      <td class="tg-cly1">Boulder</td>
      <td class="tg-cly1">2011</td>
      <td class="tg-cly1">330</td>
      <td class="tg-cly1">Advanced</td>
      <td class="tg-0lax"></td>
    </tr>
    <tr>
      <td class="tg-yjjc">7</td>
      <td class="tg-yjjc">40</td>
      <td class="tg-yjjc">M</td>
      <td class="tg-yjjc">Yosemite</td>
      <td class="tg-yjjc">2015</td>
      <td class="tg-yjjc">708</td>
      <td class="tg-yjjc">Advanced</td>
      <td class="tg-buh4"></td>
    </tr>
    <tr>
      <td class="tg-cly1">7</td>
      <td class="tg-0lax"></td>
      <td class="tg-0lax"></td>
      <td class="tg-cly1">Manhattan Beach</td>
      <td class="tg-cly1">2015</td>
      <td class="tg-cly1">79</td>
      <td class="tg-cly1">Advanced</td>
      <td class="tg-cly1">Y</td>
    </tr>
  </tbody>
</table>